<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <% #para mostrar el nav bar se hace esto y ahí le digo donde esta %>
    <%= render partial: 'layouts/flash_messages' %>
    <%= yield %>
  </body>
</html>
